NOTIFY with sipfrag 200 OK receives 481 response after REFER

The asterisk-i is sending a BYE right after the first NOTIFY with a provisional response due to a REFER request.
It must wait for a NOTIFY with sipfrag >= 200 but start a timer for dialog destruction.
Minimal implementations (RFC 3515 section 2.4.5) that only send one NOTIFY with sipfrag = 100 Trying, still need to be handled and the BYE should be sent by timeout.